#torar,#torar2,#torar3
{
  text-align: center;
  font-size: 15px;
  border-spacing: 1px;
  margin: auto; /*de aici se centreaza*/
  padding:20px;
}
#zona2 h2
{
  color:white;
}
thead th
{
  border:1px solid var(--culoare5);
  color: white;
}
td,tr
{
  border:1px solid var(--culoare5);
}
tbody > tr:nth-child(even)
{
  background-color: var(--culoare1);
}
tbody > tr:nth-child(odd)
{
  background-color: var(--culoare3);
}
tfoot tr
{
  color: white;
}
tbody tr:hover, tfoot tr:hover
{
  background-color: var(--culoare5);
}
