<address>
  <div id="detalii_footer">
    Nr Telefon: <a href="tel:0727001002">0727001002</a>
    Adresa: Gura Ariesului nr 37
    E-mail: <a href="mailto:clinicarehelp+@custom.com?subject=feedback">clinicarehelp+@custom.com </a>
  </div>
</address>

<p id="disclaimer"><small>Copyright &#169; <time datetime="01-03-2021">2021</time> Toate drepturile rezervate. </small></p>
