<nav>
  <label id="hamburger" for="ch-menu">
      <img src="/icons/Hamburger_icon_alb.png" alt="menu">
  </label>
  <input id="ch-menu" type="checkbox">
  <ul id="meniu">
    <li id="casa">
      <i class="fas fa-home"></i>
      <span>ACASA</span>
      <ul id="submeniu">
        <li><a href="/descriere" >Prezentarea Clinicii</a></li>
        <li><a href="#CadreleMedicale">Cadrele Medicale</a></li>
        <li><a href="#Locatie">Locatie</a></li>
        <li><a href="#">Tarife si contact</a></li>
      </ul>
    </li>
    <li><a href="#">SERVICIILE OFERITE</a></li>
    <li><a href="#">PROGRAMARI</a></li>
    <li><a href="#RCN" ><abbr title="Rencenziile clientiilor nostrii"> RCN</abbr></a></li>
  </ul>
</nav>
