<!DOCTYPE html>
<html lang="ro">
<head>
  <%- include('../partial/head') %>
</head>

<body>
  <header>
    <h1>Eroare 404</h1>
  </header>
  <%- include('../partial/nav') %>
<main>

  <section style="text-align:center;">
    <br><br><br><br><br><br><br>
    <h2>Eroare 404</h2>
    Ceva nu a mers bine...
    <br><br><br><br><br><br><br>
  </section>
</main>
<footer>
  <%- include('../partial/footer') %>
</footer>
</body>
