<!DOCTYPE html>
<html lang="ro">
<head>
  <%- include('../partial/head') %>
</head>

<body>
  <header>
    <h1>Descrierea principala a paginii</h1>
  </header>
  <%- include('../partial/nav') %>
<main>
  <section>
    <h1 id= "Prezentareaclinicii"><i class="fas fa-heartbeat fa-spin"></i> Prezentarea Clinicii <i class="fas fa-heartbeat fa-spin"></i></h1>
    <p><b>Clinica medicala</b> <b>CareHelp+</b> este o noua clinica care incearca sa foloseasca resurse cat mai eficiente pentru <b>tratarea</b> tuturor clientilor
    nostrii.</p>
    <p>Credem cu tărie că fiecare om este un individ unic iar consultul trebuie să se desfășoare plenar,
    luând în considerație atât  planul fizic, cât și cel psihic și emoțional.</p>
    <p>
    <q>Pacientul se află în centrul preocupărilor noastre.</q>
    </p>
    <q>Vindecarea se face de sus în jos, dinăuntru în afară.</q>
  </section>
  <section>
      <%- include('../partial/galerie_statica') %>
   </section>
</main>
<footer>
  <%- include('../partial/footer') %>
</footer>
</body>
